# Ignore other files
.vscode/


# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
env/
venv/
.venv/
ENV/
VENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Git-specific files
.git/

# Ignore compiled Cython files
*.c
*.so

# Ignore coverage reports
htmlcov/
.coverage
*.cover

# Ignore pytest cache
.pytest_cache/

# Ignore mypy cache
.mypy_cache/

# Ignore build artifacts
build/
dist/
*.egg-info/
out.txt
*.bak
data/
output/